<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="content-type" content="application/xhtml+xml; charset=utf-8" />
    <meta content="chrome=1" http-equiv="X-UA-Compatible" />
    <title>Ub-gei-sd.github.io by UB-GEI-SD</title>
    <link href="/stylesheets/syntax.css" rel="stylesheet" />
    <link href="/stylesheets/github-markdown.css" rel="stylesheet" />
    <link href="/stylesheets/pygment_trac.css" rel="stylesheet" />
    <style>
	.markdown-body {
		box-sizing: border-box;
		min-width: 200px;
		max-width: 980px;
		margin: 0 auto;
		padding: 45px;
	}
</style>
    
    <meta content="width=device-width, initial-scale=1, user-scalable=no" name="viewport" />
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>    <![endif]-->
  </head>
  <body class="markdown-body">
    <div id="wrapper"> {{ content }} </div>
  </body>
</html>
